@if (!getListItems().length) {
  <div class="container">
    <img
    src="assets/imgs/task-list-null.png"
    alt="Empty list"
    title="Your list is empty"
    loading="eager"
    />

    @if(addItem()){
      <button class="btn btn-primary" (click)="addItem.set(false)">
        Add new task
      </button>
    } @else {
      <app-input-add-item
      [inputListItems]="getListItems()"
      (outputListAddItems)="getInputAndAddItem($event)"
      />
    }
  </div>
} @else {
  <app-input-add-item
      [inputListItems]="getListItems()"
      (outputListAddItems)="getInputAndAddItem($event)"
      />
}
