<div class="container">
  <img
    src="assets/imgs/task-list-null.png"
    alt="Empty list"
    title="Your list is empty"
    loading="eager"
  />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Add new task
  </button>
  } @else {
  <div>
    <label class="input-label-text" for="inputValue">
      <input type="text" placeholder="Add new task" id="inputValue" autofocus />
      <button class="btn btn-primary-circle" title="Add new task"></button>
    </label>
  </div>
  }
</div>
