@if (!getListItems().length) {
<div class="container">
  <img
    src="assets/imgs/task-list-null.png"
    alt="Empty list"
    title="Your list is empty"
    loading="eager"
  />

  @if(addItem()){
  <button class="btn btn-primary" (click)="addItem.set(false)">
    Add new task
  </button>
  } @else {
  <app-input-add-item
    [inputListItems]="getListItems()"
    (outputListAddItems)="getInputAndAddItem($event)"
  />
  }
</div>
} @else {
<app-input-add-item
  [inputListItems]="getListItems()"
  (outputListAddItems)="getInputAndAddItem($event)"
/>

<main class="container">
  @if(listItemsStage('pending').length) {
    <h2>Pending tasks</h2>
    <app-input-list-item
      [inputListItems]="listItemsStage('pending')"
      (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
      (outputUpdateItemText)="updateItemText($event)"
      (outputDeleteItemText)="deleteItemText($event)"
      >
    </app-input-list-item>
  }

  @if(listItemsStage('completed').length) {
    <h2>Completed tasks</h2>
    <app-input-list-item
      [inputListItems]="listItemsStage('completed')"
      (outputUpdateItemCheckbox)="updateItemCheckbox($event)"
      (outputUpdateItemText)="updateItemText($event)"
      (outputDeleteItemText)="deleteItemText($event)"
      >
    </app-input-list-item>
  }
</main>
<footer>
  <button class="btn btn-danger" (click)="deleteAllItems()">
    Delete all tasks
  </button>
</footer>
}
