:host {
  height: 100vh;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn-primary,
    div {
      margin-top: 30px;
      width: 100%;
    }
  }
}
